ArticleEncodingNgramStatistics.pdf
Hinton_training_NN.pdf
IKASL.pdf
Implementation_and_Applications_of_Tri-State_Self-Organizing_Maps_on_FPGA.pdf
IntegerSOM.pdf
L1-D7041E(Intro)_LP2_2024.pdf
L2-D7041E-2024-FundamentalsML.pdf
L3-D7041E-SVM-2024.pdf
L3-L4-D7041E-SVM-2024.pdf
L6_HDC-2024.pdf
L7-Som-HandwrittenNotes.pdf
L8-L9-Backpropagation-HandwrittenNotes.pdf
L9_L10_Continuous_data_2024.pdf
miniProject_done.pdf
NLP_2024.pdf
performance_metrics.png
reSOM_multimodal.pdf
SOM.pdf
ANNs.png
